<div ng-controller="OrdersController">
   <h1> Orders and Costomers</h1>
   <h4>Add a new order</h4>
   <form>
        <p>Customer : <select ng-model='new_order.name'> 
          <option ng-repeat = "customer in customers">{{customer.name}}</option>
        </select></p>
        <p>Order: <select ng-model='new_order.product'> 
          <option ng-repeat = "product in products">{{product.name}}</option>
        <select></p>
       <p> <select ng-model='new_order.quantity' 
        class="ng-valid ng-dirty">
          <option value="10">10</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="9">9</option>
        </select></p>
        <p><input type='submit' value='order' ng-click='addOrder()'></p>
    </form>
Search Customers: <input type="text" ng-model="filter_name">

  <table>
    <tr>
    <th>Customer Name</th>
    <th>Products</th>
    <th>Quantity</th>
    <th>Date Created</th>
    </tr>
      <tr ng-repeat="order in orders | filter:filter_name | orderBy:'name'">
          <td>{{ order.name }}</td>
           <td>{{ order.product }}</td>
           <td>{{ order.quantity }}</td>
           <td>{{ order.date | date: formate: longdate }}</td>
           
      </tr> 
    </table>
  </div>