<div ng-controller="PlaysController">
<h3>Choose an answer for each one and submit the test once done. Good Luck!</h3>
<div class="game">
	<form>
       <h5>Question</h5><p>1. Who is President of US?</p>
        <h5>Answers</h5><p>Obama<label for="ObamaRadio"></label>
    	<input id="obamaRadio" type="radio" ng-model="new_game" value="Obama" /></p>
    	<p>Modi<label for="ModiRadio"></label>
    	<input id="modiRadio" type="radio" ng-model="new_game" value="Modi" /></p>
    	<p>Me<label for="MeRadio"></label>
    	<input id="meRadio" type="radio" ng-model="new_game" value="Me" /></p>

    	<h5>Question</h5><p>2. Who is President of India?</p>
        <h5>Answers</h5><p>Obama<label for="ObamaRadio"></label>
    	<input id="obamaRadio" type="radio" ng-model="new_game" value="Obama" /></p>
    	<p>Modi<label for="ModiRadio"></label>
    	<input id="modiRadio" type="radio" ng-model="new_game" value="Modi" /></p>
    	<p>Me<label for="MeRadio"></label>
    	<input id="meRadio" type="radio" ng-model="new_game" value="Me" /></p>

    	<h5>Question</h5><p>3. Who is President of Curtner School?</p>
        <h5>Answers</h5><p>Obama<label for="ObamaRadio"></label>
    	<input id="obamaRadio" type="radio" ng-model="new_game" value="Obama" /></p>
    	<p>Modi<label for="ModiRadio"></label>
    	<input id="modiRadio" type="radio" ng-model="new_game" value="Modi" /></p>
    	<p>Me<label for="MeRadio"></label>
    	<input id="meRadio" type="radio" ng-model="new_game" value="Me" /></p>

    	<h5>Question</h5><p>4. Who is President of Canada?</p>
        <h5>Answers</h5><p>Obama<label for="ObamaRadio"></label>
    	<input id="obamaRadio" type="radio" ng-model="new_game" value="Obama" /></p>
    	<p>Modi<label for="ModiRadio"></label>
    	<input id="modiRadio" type="radio" ng-model="new_game" value="Modi" /></p>
    	<p>Omar<label for="OmarRadio"></label>
    	<input id="OmarRadio" type="radio" ng-model="new_game" value="Omar" /></p>

    	<h5>Question</h5><p>5. Who is President of Coding Dojo?</p>
      	<h5>Answers</h5><p>Obama<label for="ObamaRadio"></label>
    	<input id="obamaRadio" type="radio" ng-model="new_game" value="Obama" /></p>
    	<p>Modi<label for="ModiRadio"></label>
    	<input id="modiRadio" type="radio" ng-model="new_game" value="Modi" /></p>
    	<p>Mike<label for="MikeRadio"></label>
    	<input id="MikeRadio" type="radio" ng-model="new_game" value="Mike" /></p>
       
       	<p><input type='submit' value='submit' ng-click='addGame()'></p>
    </form>
</div>

