<div ng-controller="QuestionsController">
  <h3>New Question</h3>
  <div class="question">
    <form>
          <p> Question <input type='text' value='' ng-model='new_question.question'></p>
          <p> Correct Answer <input type='text' value='' ng-model='new_question.answer'></p>
          <p> Fake Answer 1 <input type='text' value='' ng-model='new_question.answer1'></p>
          <p> Fake Answer 2 <input type='text' value='' ng-model='new_question.answer2'></p>
           <p><input type='submit' value='create' ng-click='addaQuestion()'></p>
      </form>
</div>

<div class="show">
      <ng-repeat="question in questions | filter:filter_name | orderBy:'name'">
          {{ question.question }}
          {{ question.answer }}
          {{ question.answer1 }}
          {{ question.answer2 }}
</div>